In [1]:
import yfinance as yf

ticker = "AAPL"

data_5d = yf.download(ticker, period="5d", interval="1h")

data_history = yf.download(ticker, start="2024-12-01", end="2025-12-31", interval="1d")

display(data_5d.head())

display(data_history.head())

display(data_history.tail())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
Datetime,,,,,
2026-01-23 14:30:00+00:00,247.010101,247.240005,244.679993,247.240005,7601136
2026-01-23 15:30:00+00:00,248.350006,249.410004,246.970001,247.020004,3278816
2026-01-23 16:30:00+00:00,248.739899,248.800003,247.880005,248.369995,2265060
2026-01-23 17:30:00+00:00,247.929993,248.809906,247.610001,248.720001,1917334
2026-01-23 18:30:00+00:00,247.475006,248.029907,246.970001,247.960007,2288849

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-12-02  238.511276  239.705870  236.092224  236.201730  48137100
2024-12-03  241.557480  241.666985  237.824364  238.730270  38861000
2024-12-04  241.915878  243.010932  240.163808  241.776509  44383900
2024-12-05  241.945724  243.438971  241.039833  242.891459  40033900
2024-12-06  241.746628  243.528577  240.990055  241.816320  36870600

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-12-23  272.359985  272.500000  269.559998  270.839996  29642000
2025-12-24  273.809998  275.429993  272.200012  272.339996  17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004  21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002  23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998  22139600

## Como obter sua API key do FRED:

1. **Acesse:** https://fred.stlouisfed.org
2. **Clique em "My Account"** (canto superior direito)
3. **Cadastre-se gratuitamente** (se ainda não tiver conta)
4. **Vá para "Account Settings" → "API Keys"**
5. **Clique em "Request API Key"**
6. **Preencha o formulário** (uso pessoal/educacional é gratuito)

## Depois de obter sua chave:

```python
from fredapi import Fred

# Substitua com SUA chave
fred = Fred(api_key="sua_chave_aqui_32_caracteres")

# Buscar dados de inflação
inflation = fred.get_series("CPIAUCSL")
print(inflation)
```

## Códigos úteis do FRED:
- `CPIAUCSL`: Índice de Preços ao Consumidor (inflação)
- `UNRATE`: Taxa de desemprego
- `GDP`: PIB
- `FEDFUNDS`: Taxa de juros dos Fed Funds

A API key gratuita tem limite de 1.200 requisições por hora, o que é suficiente para a maioria dos usos pessoais e educacionais.

In [2]:
# from fredapi import Fred

# fred = Fred(api_key="SUA_API_KEY")
# inflation = fred.get_series("CPIAUCSL")

# display(inflation.tail())

In [3]:
import feedparser

rss_url = "https://news.google.com/rss/search?q=AAPL+stock"
feed = feedparser.parse(rss_url)

for entry in feed.entries[:5]:
    print(entry.title)

Apple sales surge 16% on ‘staggering’ iPhone demand - CNBC
Apple tops Q1 earnings estimates on record-breaking iPhone sales - Yahoo Finance
Apple edges up after Q1 revenue jumps 16% on record iPhone sales (AAPL:NASDAQ) - Seeking Alpha
Here's How Much Traders Expect Apple Stock to Move After Earnings Thursday - Investopedia
Apple Earnings Are Coming – Should You Buy AAPL Stock? - TipRanks