In [12]:
import yfinance as yf

ticker = "AAPL"

data_5d = yf.download(ticker, period="5d", interval="1h")

data_history = yf.download(ticker, start="2024-12-01", end="2025-12-31", interval="1d")

display(data_5d.head())

display(data_history.head())

display(data_history.tail())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
Datetime,,,,,
2026-01-22 14:30:00+00:00,250.130005,250.779907,248.384995,249.360001,7300630
2026-01-22 15:30:00+00:00,249.699905,250.160004,249.000000,250.149994,3165743
2026-01-22 16:30:00+00:00,249.740005,249.899994,249.259995,249.695007,1884417
2026-01-22 17:30:00+00:00,250.679993,250.820007,249.729996,249.750000,1833609
2026-01-22 18:30:00+00:00,250.520004,251.000000,249.750107,250.669998,2047891

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-12-02  238.511261  239.705855  236.092209  236.201715  48137100
2024-12-03  241.557495  241.667000  237.824379  238.730285  38861000
2024-12-04  241.915878  243.010932  240.163808  241.776509  44383900
2024-12-05  241.945740  243.438986  241.039848  242.891475  40033900
2024-12-06  241.746628  243.528577  240.990055  241.816320  36870600

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-12-23  272.359985  272.500000  269.559998  270.839996  29642000
2025-12-24  273.809998  275.429993  272.200012  272.339996  17910600
2025-12-26  273.399994  275.369995  272.859985  274.160004  21521800
2025-12-29  273.760010  274.359985  272.350006  272.690002  23715200
2025-12-30  273.079987  274.079987  272.279999  272.809998  22139600

## Como obter sua API key do FRED:

1. **Acesse:** https://fred.stlouisfed.org
2. **Clique em "My Account"** (canto superior direito)
3. **Cadastre-se gratuitamente** (se ainda não tiver conta)
4. **Vá para "Account Settings" → "API Keys"**
5. **Clique em "Request API Key"**
6. **Preencha o formulário** (uso pessoal/educacional é gratuito)

## Depois de obter sua chave:

```python
from fredapi import Fred

# Substitua com SUA chave
fred = Fred(api_key="sua_chave_aqui_32_caracteres")

# Buscar dados de inflação
inflation = fred.get_series("CPIAUCSL")
print(inflation)
```

## Códigos úteis do FRED:
- `CPIAUCSL`: Índice de Preços ao Consumidor (inflação)
- `UNRATE`: Taxa de desemprego
- `GDP`: PIB
- `FEDFUNDS`: Taxa de juros dos Fed Funds

A API key gratuita tem limite de 1.200 requisições por hora, o que é suficiente para a maioria dos usos pessoais e educacionais.

In [13]:
# from fredapi import Fred

# fred = Fred(api_key="SUA_API_KEY")
# inflation = fred.get_series("CPIAUCSL")

# display(inflation.tail())